<!DOCTYPE html>
<html lang="en">
<head>

  <title>{{ title | default: settings.name }}</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="title" content=" {{ title | default: settings.name }}">
  <meta name="description" content=" {{ settings.description }}">
  <meta name="keywords" content=" {{ settings.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content=" {{ settings.author }}">
  <link rel="canonical" href="{{ settings.site }}">
  <link rel="icon" href="{{ settings.favicon }}">
  <link rel="stylesheet" type="text/css" href="/main.css">

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ settings.site }}" /> 
  <meta property="og:title" content="{{ title | default: settings.name }}"/> 
  <meta property="og:description" content="{{ description | default: settings.description }}" /> 
  <meta property="og:logo" content="{{ settings.logo }}" />
  <meta property="og:image" content="{{ settings.og.facebook }}" /> 
  <meta property="og:image" content="{{ settings.og.instagram }}" /> 
  <meta property="og:image" content="{{ settings.og.twitter }}" /> 
  <meta property="og:image" content="{{ settings.og.linkedin }}" /> 
        
</head>
<body>
  <div class="page-border">
    <div class="bg--white">
      {% block content %}{% endblock %}
    </div>
  </div>
  <script src="/main.js"></script>
</body>
</html>
