{% layout "base.liquid" %}

{% block content %}

<!-- Header -->
<header class="align--center pt3 pb2">
    <div class="container">
      <h1 class="mb3" title="{{ title }}"><img src="/img/logo.svg" alt="{{ title }}"></h1>
      <h2 class="mb3">{{ tagline }}</h2>
      <p class="mb1">{{ date }}</p>
      <p>{{ location }}</p>
      <section class="align--center pt1 pb1">
        <a href="{{ rsvpUrl }}" class="btn btn--default">{{ rsvp }}</a>
      </section>
    </div>
</header>

<!-- Body -->
<main>
    <div class="container">

        <!-- Info -->
        <section class="pt2 pb2">                    
          <img class="mb3" src="/img/community.jpg" alt="{{ gdg }}">

            <div class="grid-row">
                <div class="grid-column span-one-third mt1">
                    <img class="icon mb1" src="/img/content.svg">
                    <p>{{ eventContent }}</p>
                </div>
                <div class="grid-column span-one-third mt1">
                    <img class="icon mb1" src="/img/workshops.svg">
                    <p>{{ workshops }}</p>
                </div>
                <div class="grid-column span-one-third mt1">
                    <img class="icon mb1" src="/img/networking.svg">
                    <p>{{ networking }}</p>
                </div>
            </div>
             
        </section>

        <!-- Sponsors -->
        <section class="pt3 pb3 align--center">
          <h3 class="mb2">{{ sponsors }}</h3>
          <img class="m1" src="/img/google.svg" alt="{{ google }}" style="height: 50px;">
          <img class="m1" src="/img/lehman.svg" alt="{{ lehman }}" style="height: 45px;">
        </section>


        <!-- CTA -->
        <section class="align--center pt3 pb3">
            <!-- <a href="" class="btn btn--outline">Download Schedule</a> -->
            <a href="{{ rsvpUrl }}" class="btn btn--default">{{ rsvp }}</a>
            <!-- <p class="small mt1 text--gray">Tickets available on Eventbrite.</p> -->
        </section>

    </div>
</main>

<!-- Footer -->
<footer class="mt2 pb3 align--center">
  <ul class="no-bullets list--inline mb0">
    <li class="m1 block-on-mobile"><a href="{{ gdgUrl }}" class="link"><img class="icon" src="/img/gdg.svg" alt="{{ gdg }}"> {{ gdg }}</a></li>
    <li class="m1 block-on-mobile"><a href="{{ meetupUrl }}" class="link"><img class="icon" src="/img/meetup.svg" alt="{{ meetup }}"> {{ meetup }}</a></li>
    <li class="m1 block-on-mobile"><a href="{{ linkedinUrl }}" class="link"><img class="icon" src="/img/linkedin.svg" alt="{{ linkedin }}"> {{ linkedin }}</a></li>
    <li class="m1 block-on-mobile"><a href="{{ youtubeUrl }}" class="link"><img class="icon" src="/img/youtube.svg" alt="{{ youtube }}"> {{ youtube }}</a></li>
  </ul>
  <p class="mt1 small text--gray">Design by <a href="https://www.papayatemplates.com" class="link">Papaya</a>.</p>
</footer>
{% endblock %}
