{% layout "base.liquid" %}

{% block content %}

<!-- Navigation -->
<ul class="navbar">
  <li><a href="#home">{{ homeMenu }}</a></li>
  <li><a href="#speakers">{{ speakersMenu }}</a></li>
  <li><a href="#talks">{{ talksMenu }}</a></li>
  <li><a href="#agenda">{{ agenda }}</a></li>
  <li><a href="#venue">{{ venue }}</a></li>
</ul>

<!-- Header -->
<header class="align--center pt3 pb2">
    <div class="container">
      <h1 class="mb3" title="{{ title }}"><img src="/img/devfest-header.webp" alt="{{ altDevFest }}"></h1>
      <h2 class="mb3">{{ tagline }}</h2>
      <p class="mb1">{{ date }}</p>
      <p>{{ location }}</p>
      <section class="align--center pt1 pb1">
        <a href="{{ rsvpUrl }}" class="btn btn--default">{{ rsvp }}</a>
      </section>
    </div>
</header>

<!-- Body -->
<main>
    <div class="container">

        <!-- Info -->
        <section class="pt2 pb2">                    
          <img class="mb3" src="/img/community.webp" alt="{{ altCommunity }}">

            <div class="grid-row">
                <div class="grid-column span-one-third mt1">
                  <img class="icon mb1" src="/img/content.svg" alt="{{ altContent }}">
                    <p>{{ eventContent }}</p>
                </div>
                <div class="grid-column span-one-third mt1">
                    <img class="icon mb1" src="/img/workshops.svg" alt="{{ altWorkshops }}">
                    <p>{{ workshops }}</p>
                </div>
                <div class="grid-column span-one-third mt1">
                    <img class="icon mb1" src="/img/networking.svg" alt="{{ altNetworking }}">
                    <p>{{ networking }}</p>
                </div>
            </div>
             
        </section>

        <!-- Speakers -->
        {% assign speakersList = settings.speakers %}
        <section id="speakers" class="pt3 pb3 align--center">
            <h3 class="mb1">{{ speakers }}</h3>
            <div class="grid-row">
              {% for speaker in speakersList %}
                <div class="grid-column span-4 mt2">
                  <img class="mb1" src="{{ speaker.photo }}" alt="{{ speaker.name }}">
                  <p class="small">{{ speaker.name }}</p>
                  <ul class="no-bullets list--inline">
                    {% if speaker.social.website %}
                      <li class="m1"><a href="{{ speaker.social.website }}" target="_blank" class="link"><img class="icon" src="/img/globe-bw.png" alt="{{ altWebsite }}"></a></li>
                    {% endif %}
                    {% if speaker.social.linkedin %}
                      <li class="m1"><a href="{{ speaker.social.linkedin }}" target="_blank" class="link"><img class="icon" src="/img/linkedin-bw.png" alt="{{ altWebsite }}"></a></li>
                    {% endif %}
                    {% if speaker.social.youtube %}
                      <li class="m1"><a href="{{ speaker.social.youtube }}" target="_blank" class="link"><img class="icon" src="/img/youtube-bw.png" alt="{{ altTwitter }}"></a></li>
                    {% endif %}
                  </ul>
                </div>
              {% endfor %}
            </div>
        </section>

        <!-- Talks -->
        {% assign talksList = settings.talks %}
        <section id="talks" class="pt3 pb3 align--center">
            <h3 class="mb1">{{ talks }}</h3>
            <div class="grid-row">
              {% for talk in talksList %}
                <div class="grid-column align--left span-whole mt2">
                  <h4>{{ talk.title }}</h4>
                  <p class="small pb1">{{ talk.speaker }}</p>
                  <p class="regular">{{ talk.description }}</p>
                </div>
              {% endfor %}
            </div>
        </section>

        <!-- Agenda -->
        {% assign _agenda = settings.agenda %}
        <section id="agenda" class="pt3 pb3 align--center">
          <h3 class="mb1">{{ agenda }}</h3>
          <div class="grid-row">
            {% for session in _agenda %}
              <div class="grid-column span-12 mt2">
                <h4>{{ session.time }}</h4>
                <p class="pb1 bold">{{ session.title }}</p>
                <p class="small pb1">{{ session.speaker }}</p>
                <p class="small">{{ session.room }}</p>
              </div>
            {% endfor %}
          </div>
        </section>

        <!-- Venue -->
        <section id="venue" class="pt3 pb3 align--center">
          <h3 class="mb2">{{ venue }}</h3>
          <h3>{{ venueName }}</h3>
          <h5>{{ venueRooms }}</h5>
          <h4>{{ venueAddress }}</h4>
          <div class="grid-row">
              <div class="grid-column">
                <img class="mb1" src="/img/lehman-entrance.webp" alt="{{ venueName }}">
              </div>
              <div class="grid-column">
                <p class="align--left mb1">{{ venueHistory1 }}</p>
                <p class="align--left mb1">{{ venueHistory2 }}</p>
                <p class="align--left mb1">{{ venueHistory3 }}</p>
              </div>
          </div>
          <h3 class="mt2 mb3">{{ gettingHere  }}</h3>
          <div class="grid-row">
              <div class="grid-column">
                <h4>{{ subway }}</h4>
                <p class="align--left mb2">{{ venueSubway }}</p>
                <h4>{{ bus }}</h4>
                <p class="align--left mb2">{{ venueBus }}</p>
                <h4>{{ parking }}</h4>
                <p class="align--left mb2">{{ venueParking }}</p>

              </div>
              <div class="grid-column">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6033.803983467942!2d-73.894829!3d40.874025!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f39c771c5257%3A0xb29719fa25bef236!2s2920%20Goulden%20Ave%2C%20Bronx%2C%20NY%2010468!5e0!3m2!1sen!2sus!4v1731965005542!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
              </div>
          </div>
        </section>

        <!-- Sponsors -->
        <section class="pt3 pb3 align--center">
          <h3 class="mb2">{{ sponsors }}</h3>
          <img class="m1" src="/img/google.svg" alt="{{ altGoogle }}" style="height: 50px;">
          <img class="m1" src="/img/lehman.svg" alt="{{ altLehman }}" style="height: 45px;">
        </section>

        <!-- CTA -->
        <section class="align--center pt3 pb3">
            <!-- <a href="" class="btn btn--outline">Download Schedule</a> -->
            <a href="{{ rsvpUrl }}" class="btn btn--default">{{ rsvp }}</a>
            <!-- <p class="small mt1 text--gray">Tickets available on Eventbrite.</p> -->
        </section>

    </div>
</main>

<!-- Footer -->
<footer class="mt2 pb3 align--center">
  <ul class="no-bullets list--inline mb0">
    <li class="m1 block-on-mobile"><a href="{{ gdgUrl }}" class="link"><img class="icon" src="/img/gdg.png" alt="{{ altGDG }}"> {{ gdg }}</a></li>
    <li class="m1 block-on-mobile"><a href="{{ meetupUrl }}" class="link"><img class="icon" src="/img/meetup.png" alt="{{ altMeetup }}"> {{ meetup }}</a></li>
    <li class="m1 block-on-mobile"><a href="{{ linkedinUrl }}" class="link"><img class="icon" src="/img/linkedin.png" alt="{{ altLinkedIn }}"> {{ linkedin }}</a></li>
    <li class="m1 block-on-mobile"><a href="{{ youtubeUrl }}" class="link"><img class="icon" src="/img/youtube.png" alt="{{ altYouTube }}"> {{ youtube }}</a></li>
  </ul>
  <p class="mt1 small text--gray">Design by <a href="https://www.papayatemplates.com" class="link">Papaya</a>.</p>
</footer>
{% endblock %}
